.visual-advanceCardE03760C5AB684758B56AA29F9E6C257B_DEBUG {
  
}
.visual-advanceCardE03760C5AB684758B56AA29F9E6C257B_DEBUG .overflowingText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
